/* CSS Document Creator - Tom Sargent
  Last Edited Date - 17/04/2023
  Work adapted from Michael Borck in Curtin Universities ISYS3004 - Business Web and Mobile Technologies. Semester 1 2023.
  Description: A basic CSS file to construct a simple style for a buzzword generator.
*/
body { /* Define Body Style */
  font-family: "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
  padding-top: 40px;
  width: 550px;
  margin: 0 auto;
}

#square { /* Define ID square Style */
  float:left;
  width: 200px;
  height: 200px;
  background: red;
}

#words { /* Define ID words Style */
  float: left;
  width: 250px;
  height: 200px;
  font-size: 25px;
  text-align: right;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10%;
  border-right: 5px solid red;
}

footer{ /* Define footer Style */
  padding-top: 300px;
  text-align: center;
}